nav {
    font-family: 'Poppins', 'Afacad Flux', Verdana, sans-serif;
    background-color: #f8f9fa; /* Light red for `.new_one` */
}

.sidebar-btn:hover {
    color: white;
    background-color: #007bff;
    border-color: #007bff;
}

.search {
    font-family: 'Poppins', 'Afacad Flux', Verdana, sans-serif;
}

h1, h2, h4, h5 {
    font-family: 'Poppins', 'Afacad Flux', Verdana, sans-serif;
}

p, ul {
    font-family: 'Poppins', 'Afacad Flux', Verdana, sans-serif;
}

.welcome {
    background-color: #a5d4ff; /* Light blue for `.new` */
}
.new {
    background-color: #ffa5a5; /* Light red for `.new_one` */
}

.dashboard p {
    font-family: 'Poppins', 'Afacad Flux', Verdana, sans-serif;
    text-align: left; /* Align text to the left */
}

.website {
    font-family: 'Poppins', 'Afacad Flux', Verdana, sans-serif;
}


#map {
    width: 100%;
    height: 500px; /* Example: adjust as needed */
    position: relative; /* Optional for layout control */
}

